
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    min-height: 100vh;
    background: url('New.jpg') no-repeat;
    background-size: cover;
    background-position: center;
  }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: black;
  align-items: center;
}

.nav a {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin-right: 30px;
}