
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  body {
    min-height: 100vh;
    background: url('New.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
  }

.entirebody {
  background-color: purple;
}

.m-0 {
  margin: 0 !important;
}

.profile-img-div {
  justify-content: center;
}

.user-avatar {
  text-align: center !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 90px;
  width: 10%;
}

.profile-info-div {
  text-align: center !important;
  align-items: start;
  margin-bottom: -1px;
  padding: 15px;
}

.profile-info-div h2 {
  text-align: center;
  width: 100%;
  margin: 0;
  font-weight: 600;
  letter-spacing: -1px;
  font-family: "Poppins";
}

.profile-title {
  overflow-wrap: anyWhere;
}

.mr-2 {
  color: white !important;
  box-sizing: border-box;
}

.profile-description {
  font-size: 15px;
  font-weight: 300;
  margin-top: 25px;
}

.profile-description div {
  font-family: "Poppins";
  color: white !important;
  max-width: 1200px !important;
  white-space: inherit;
  line-height: -10px;
  margin: 0 auto !important;
}

.profile-info-div p {
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

.align-item-center {
  align-items: center !important;
}

.social-links-div {
  color: white !important;
  padding: 5px;
  display: inline-flex;
}

.social-links-div svg {
  width: 26px !important;
  color: white;
  transition: .3s ease !important;
}

.social-links-div svg:hover {
  transform: scale(0.7);
}


.align-item-center {
  align-items: center !important;
}

.social-links-div2 {
  padding: 5px;
  display: inline-block;
}

.social-links-div2 svg {
  width: 26px !important;
  color: white;
  transition: .3s ease !important;
}

.social-links-div2 svg:hover {
  transform: scale(0.7);
}

.social-links-div1 {
  padding: 5px;
  display: inline-block;
  transition: .3s !important;
}

.social-links-div1 svg {
  width: 26px !important;
  color: white;
  transition: .3s ease !important;
}

.social-links-div1 svg:hover {
  transform: scale(0.7);
}

/* Social container styling */


/* Github portion*/
.link-slider {
  display: flex;
  align-items: center;
  margin: 0;
  flex-basis: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.single-link-block {
  background-color: black;
  width: 70%;
  height: 130px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.single-link-block:hover {
  -moz-box-shadow: 5px 5px 5px rgb(79, 79, 79);
  -webkit-box-shadow: 5px 5px 5px rgb(79, 79, 79);
  box-shadow: 5px 5px 5px rgb(78, 78, 78);
}


.single-link-block a {
  width: 100%;
  height: 100%;
  display: flex !important;
  color: black;
  text-decoration: none;
  background-color: rgb(57, 57, 57) !important;
}

.single-link-block-image {
  background-color: rgb(57, 57, 57) !important;
  width: 30%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.single-link-block img {
  background-size: cover;
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.single-link-block-detail {
  width: 70%;
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
}

.single-link-block-detail h4 {
  color: white;
  font-size: 22px;
  text-align: left;
  margin-bottom: 10px;
  font-weight: 600 !important;
  font-family: "Poppins";
}

.single-link-block-detail p {
  color: white;
  font: 15px;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 50 !important;
  font-family: "Poppins";

}

.single-link-block-arrow {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Project section */


.project-info-div {
  text-align: center !important;
  align-items: start;
  margin-bottom: -1px;
  padding: 15px;
}

.project-title {
  overflow-wrap: anyWhere;
}

.mr-3 {
  color: white !important;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}


.card {
  width: 80px;
  border-radius: .75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(.28, -0.03, 0 , .99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  background-color: rgb(56, 56, 56);
}

.card > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card > .row > .icon {
  background: #233;
  color: white;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}


.card > .row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
  color: black;
}

.description p {
  color: black;
  padding-top: 5px;
  font-family: "Poppins";
}

.discription h4 {
  text-transform: uppercase;
  color: black;
  font-family: "Poppins";
}

input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + lable .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

.card[for="c1"] {
  background-image: url('./assets/crypto.png');
}

.card[for="c2"] {
  background-image: url('./assets/crypto.png');
}




















