
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

  * {
    margin: 0;
    padding: 0;
    color: beige;
  }
  body {
    background: black;
    color: #fff;
    font-family: sans-serif;
    letter-spacing: 2px;
    display: block;
    margin-top: 10px;
  }
  html {
    scroll-behavior: smooth;
  }

.profiledata {
    padding: 20px;
  }

  .profile-name {
    color: gray;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
  }

  .profile-name2 {
    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 5px;
  }